@using CinemaClix.Interfaces
@model Movie
@inject IReviewService _reviewservice;
@{
    ViewData["Title"] = "Movies";
}

<style>

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 37%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
    }

    .modal-content {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #262626;
        padding: 20px;
        border-radius: 12px;
        color: white;
    }

    #addToWatchlistBtn {
        background: #0F0F0F;
        border-radius: 8px;
        padding: 14px;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }
</style>
<div class="container-fluid movie-container" >
  


        <div class="Left-side" style="display:flex; gap:30px;">
            <div>
            <img asp-append-version="true" src="@Model.Image" width="600px" height="500px" class="img-fluid" style="border-radius:20px;" />
            </div>

        <div>
            <div>
                <div style="display:flex; gap:10px; align-items:center;">
                    <a><button onclick="playTrailer('@Model.EmbedCode')" style="background:#E50000;color:#FFFFFF;padding:14px 24px 14px 24px;border:none;outline:none;border-radius:8px;">  <i class="bi bi-play-circle" style="color:white; font-size:20px;"></i> Play Now</button></a>

                @if (Context.Request.Cookies["UserId"] != null)
                    {
                        <form asp-action="AddWatchlist" asp-controller="Movie" method="post">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <button type="submit" style="background: #0F0F0F; border: none; border-radius: 8px; padding: 14px; margin-left: 10px; cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Save">
                                <i class="bi bi-bookmark" style="color: white; font-size: 25px;"></i>
                            </button>

                        </form>
                        <form asp-action="AddLikesForMovie" asp-controller="Movie">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" style="background: #0F0F0F; border: none; border-radius: 8px; padding: 14px; margin-left: 10px; cursor: pointer;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path style="color:white;"
                                    d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
                                </svg>
                            </button>
                       
                        </form>
                     
                    }

                   else {
                  
                        
                        <button type="submit" style="background: #0F0F0F; border: none; border-radius: 8px; padding: 14px; margin-left: 10px; cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Save">
                        <a asp-action="Register" asp-controller="Register"><i class="bi bi-bookmark" style="color: white; font-size: 25px;"></i></a>
                    </button>

                    }
                </div>
            </div>
       


            <iframe id="trailerIframe" width="300" height="315" src="" style="display:none; margin-top:50px;" frameborder="0" allowfullscreen></iframe>
            </div>
        
        </div>
        <div class="right-side">

            <div class="left-left-side">
                <div style="background:#262626; padding:30px;border-radius:12px;border:1px;">
                    <h5>Description</h5>
                <p style="max-width:400px;">@Model.Description</p>
                </div>

                <br />
                <br />
                <div style="background:#262626; padding:30px;border-radius:12px;border:1px;">
                    <h5>Cast</h5>
                <div style="color:red; display:flex; gap:20px;">
                    @foreach (var actor in Model.Cast)
                    {
                        <div data-bs-toggle="tooltip" data-bs-placement="top" title="@actor">
                            <img  width="60px" height="60px" style="border-radius:12px; margin-top:10px;cursor:pointer;" src="@actor" asp-append-version="true" />
                        </div>
                    }
                </div>

                </div>
                <div class="Add-Reviews" style="display:flex; justify-content:space-around; gap:300px; flex-wrap:wrap; margin-top:40px; align-items:center; ">

                    <div style="color:#999999">
                        Reviews
                    </div>
                    <div>
                    <a asp-action="Review" asp-controller="Review" asp-route-MovieId="@Model.Id">
                        <button style="background:#262626; color:white; padding:14px 16px 14px 16px; border-radius:8px; border:none; outline:none;" >Add Reviews</button>
                       </a> 
                    </div>




                </div>

            <div style="background:#262626; padding:30px; border-radius:12px; border:1px; margin-top:20px; ">
            
                @foreach (var review in @_reviewservice.GetReviews())
                {
                    <div class="review" style="max-width:300px;">
                     

                        <span class="user-name">@review.Name:</span>
                        <span class="comment">@review.Location</span>
                        <span class="comment">@review.Description</span>
                    </div>
                }
            </div>
            </div>


            <br />
            <br />
            <div class="left-left-side-bottom" >
                <div style="background:#262626; padding:30px;border-radius:12px;border:1px;">

                    <h5>Release Date</h5>
                <p>@Model.ReleaseDate</p>
                </div>

                <br />
                <br />

                <div style="background:#262626; padding:30px;border-radius:12px;border:1px;">
                    <h5>Genres</h5>
                    <p>@Model.Genre</p>
                </div>
            <br />
            <br />
            <div style="background:#262626; padding:30px;border-radius:12px;border:1px;">
                <h5>Ratings</h5>
                <p>@Model.Rating</p>
            </div>
            <br />
            <br />
            <div style="background:#262626; padding:30px;border-radius:12px;border:1px;">
                <h5>Director</h5>
                <div style="display:flex;  gap:5px; margin-top:10px;">
                    <img src="@Model.DirectorPhoto" width="56.56px" height="60px" style="border-radius:8px;" />
                    <p>@Model.Director</p>
                </div>
               
            </div>
            </div>



        </div>

</div>

<script>
    function playTrailer(embedCode) {
        var iframe = document.getElementById('trailerIframe');
        iframe.src = embedCode;

        
        iframe.style.display = "block";
    }
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    var tooltipTriggerList2 = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList2 = tooltipTriggerList2.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });


</script>