<div class="image-container container-fluid">
    <img src="@Model.PosterImage" class="img-fluid" style="border-radius: 15px;" width="70%" asp-append-version="true" />

    <div class="overlay-buttons">
        <button class="play-button card-body" onclick="scrollToCards()">Play Now</button>
        <button class="voice-button card-body"><i class="bi bi-heart"></i></button>
        <button class="like-button card-body"><i class="bi bi-heart"></i></button>
    </div>
</div>

<div class="Seasons-container container-fluid" id="Seasons-container">
    <div class="left-side">
        <h3>Seasons and Episodes</h3>

        <div class="Seasons-1-container" data-bs-toggle="collapse" data-bs-target="#season1" style="cursor:pointer;" aria-expanded="false" aria-controls="season1" onclick="toggleSeasonContainer('season1')">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <h3 style=" margin-left:20px;">Seasons 01 <span style="color:red">Trailer</span></h3>
                <i class="bi bi-caret-down" style="color: white; font-size: 40px;"></i>
            </div>
            <div id="season1" class="collapse">
                <div style="display:flex;align-items:start;justify-content:space-between;margin-top:50px;">
                    @foreach (var Video in Model.Season1)
                    {
                        <iframe src="@Video" width="300" height="200" style="border-radius:15px; margin-left:20px;" frameborder="0" allowfullscreen></iframe>
                    }
                    <p style="color:white; font-weight:bolder;margin-left:30px;">@Model.Description</p>
                    <p style="background:#262626; padding:10px;color:white;border-radius:10px;"> <i class="bi bi-watch"></i> @Model.Length</p>
                </div>

            </div>
        </div>

        <div class="Seasons-1-container" data-bs-toggle="collapse" data-bs-target="#season2" style="cursor:pointer;" aria-expanded="false" aria-controls="season1" onclick="toggleSeasonContainer('season2')">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <h3 style=" margin-left:20px;">Seasons 02 <span style="color:red">Trailer</span></h3>
                <i class="bi bi-caret-down" style="color: white; font-size: 40px;"></i>
            </div>
            <div id="season2" class="collapse">
                <div style="display:flex;align-items:start;justify-content:space-between;margin-top:50px;">
                    @foreach (var Video in Model.Season2)
                    {
                        <iframe src="@Video" width="300" height="200" style="border-radius:15px; margin-left:20px;" frameborder="0" allowfullscreen></iframe>
                    }
                    <p style="color:white; font-weight:bolder;margin-left:30px;">@Model.Description</p>
                    <p style="background:#262626; padding:10px;color:white;border-radius:10px;"> <i class="bi bi-watch"></i> @Model.Length</p>
                </div>

            </div>
        </div>

    
    </div>
    
    <div class="right-side">
        <h4> <i class="bi bi-calendar" style="margin-right:5px;"></i>Released Date </h4>
        <p>@Model.ReleaseDate</p>
        <br />
   
        <h4>Ratings</h4>


        <div class="rating-stars" style="background:#141414; border-radius:12px; padding:15px;">
            @for (var i = 1; i <= @Model.Rating; i++)
            {
                <i style="color: @((i <= Model.Rating) ? "#E50000" : "#ccc")" class="bi bi-star"></i>
            }
        </div>
        <br />

        <h4><i class="bi bi-music-note"></i>Genres</h4>
        <p style="background:#141414; border-radius:12px; padding:15px;">@Model.Genre</p>

 

        <br />
       
        <h4>Director</h4>
       
      
        <div style="display:flex; gap:15px;background:#141414; border-radius:12px; padding:19px;">
            <img src="@Model.DirectorPhoto" style="border-radius:12px" width="60px" height="60px" asp-append-version="true"></img>
            <p>@Model.Director</p>
        </div>

    </div>
</div>
<div class="Cast-container container-fluid" style="background:#1A1A1A;width:55%;padding:20px; border-radius:12px;margin:0;margin-left:280px;margin-top:50px;margin-right:auto; ">

    <h2 style="margin-left:20px;color:#999999">Cast</h2>
        <br />
        @foreach (var Cast in Model.Cast)
        {
            <img width="100px" height="100px"  style="border-radius:15px;margin-left:20px;" asp-append-version="true" src="@Cast" />
        }
   
  
</div>


<script>
    function toggleSeasonContainer(containerId) {
        var container = document.getElementById(containerId);
        var allContainers = document.querySelectorAll('.season-container');

        allContainers.forEach(function (element) {
            if (element.id !== containerId) {
                var bsCollapse = new bootstrap.Collapse(element);
                bsCollapse.hide();
            }
        });

        var bsCollapse = new bootstrap.Collapse(container);
        bsCollapse.toggle();
    }


    function scrollToCards() {
        const cardsContainer = document.getElementById('Seasons-container');


        if (cardsContainer) {
            cardsContainer.scrollIntoView({ behavior: 'smooth' });
        }


    }
</script>