@inject IUserService _userService
@model PrivateChat
@inject IAdminService _adminservice;

<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .message-container {
        overflow-y: auto;
        max-height: 300px; /* Set your desired max height */
    }
</style>
<div class="container mx-auto bg-white rounded-lg shadow-md p-6 mt-10">
    <h1 class="text-2xl font-bold text-center text-gray-800 mb-4">Private Chat</h1>

    <div class="flex justify-between items-center mb-4">
        <div class="font-bold text-gray-600 text-base bg-gray-200 rounded-md p-3">
            @Model.RecipientUserName
        </div>

        <div class="text-xs text-gray-600">
            <a asp-action="Chat" asp-controller="Home" class="text-primary">Go back to group chat</a>
        </div>
    </div>

    <div class="overflow-y-auto max-h-80 mb-4">
        <div class="flex flex-col-reverse space-y-4">
            @foreach (var message in await _adminservice.GetPrivateChatHistory(Model.RecipientId))
            {
                var loggedInUser = Context.Request.Cookies["UserId"];
                int.TryParse(loggedInUser, out int User);
                var foundUser = await _userService.GetUserById(User);
                var isSentByCurrentUser = message.SenderId == foundUser.Id;

                <div class="flex flex-col">
                    <div class="text-xs font-bold mb-2 text-@((isSentByCurrentUser) ? "right" : "left") text-gray-500">
                        @(isSentByCurrentUser ? "You" : Model.RecipientUserName)
                    </div>

                    <div class="flex justify-@((isSentByCurrentUser) ? "end" : "start") gap-2">
                        <div class="rounded p-2 bg-light text-gray-800">
                            @message.Message
                        </div>
                        <div class="text-xs text-gray-500">
                            @message.Timestamp.ToString("h:mm tt")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <form class="flex gap-4 flex-col sm:flex-row" asp-action="SendPrivateMessage" method="post" asp-controller="Home">
        <input hidden name="RecId" value="@Model.RecipientId" />
        <input asp-for="Message" required class="form-control rounded-md border bg-gray-100 px-4 py-3 text-lg focus:outline-none focus:ring focus:border-blue-300 flex-1 min-h-[50px] sm:min-h-[80px]" placeholder="Type a message" />
        <button class="btn btn-primary  px-5 py-3 bg-blue-500 text-white rounded-md" type="submit">Send</button>
    </form>
</div>

