@model SubscriptionPlans

<style>
    #purchaseModal {
        display: none;
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 60%;
        max-width: 400px;
        border-radius: 20px;
    }

    .modal-content {
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        color: white;
    }

    .close {
        color: #ffffff;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

        .close:hover {
            color: #ffffff;
        }

    .btn {
        background-color: #e50000;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top:10px;
    }

        .btn:hover {
            background-color: green;
        }
</style>

<div class="mx-4 md:mx-12 lg:mx-24 mt-8">
    <h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold mb-4">Choose the plan that's right for you</h1>
    <p class="text-gray-500">Join StreamVibe and select from our flexible subscription options tailored to suit your viewing preferences. Get ready for non-stop entertainment!</p>
</div>

<div class="flex flex-wrap justify-content-center gap-5 items-start mt-8 md:items-center" >
    <div class="flex-grow bg-gray-900 rounded-lg p-8 text-white text-center max-w-xs md:max-w-md border-radius-12 flex flex-col items-center md:mt-0  mt-[-200px]">
        <h2 class="text-2xl font-bold">@Model.PlanType</h2>
        <p class="mb-4">Description: Enjoy an extensive library of movies and shows, featuring a range of content, including recently released titles.</p>
        <p class="mb-4">@Model.PlanPrice<span class="text-sm">/Month</span></p>

        @if (ViewData["SubscriptionAdded"] != null)
        {
            <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded">Delete Plan</button>
        }
        else
        {
            @if (Context.Request.Cookies["UserId"] != null)
            {
                <button onclick="openModal()" class="bg-green-500 text-white py-2 px-4 rounded">Purchase Plan</button>
            }
            else
            {
                <button disabled class="bg-red-500 text-white py-2 px-4 rounded">
                    <a class="text-white" asp-action="Register" asp-controller="Register">Log In To Purchase</a>
                </button>
            }
        }
    </div>





    <div class="flex flex-wrap gap-5">
        <div class="text-white p-4 cursor-pointer md:w-96" style="background:#111827; border-radius:12px;">
            <div class="table-responsive" style="max-height: 250px; overflow-y: auto;">
                <table class="table table-bordered text-sm ">
                    <thead class="border-bottom" style="color: white;">
                        <tr class="border-bottom">
                            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">Features</th>
                            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
                                @Model.PlanType
                            </th>
                        </tr>
                    </thead>
                    <tbody style="color: white;">
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Price</td>
                            <td class="p-4 align-middle">@Model.PlanPrice/Month</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Content</td>
                            <td class="p-4 align-middle">Access to a wide selection of movies and shows, including some new releases.</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Devices</td>
                            <td class="p-4 align-middle">Watch on one device simultaneously</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Free Trial</td>
                            <td class="p-4 align-middle">7 Days</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Cancel Anytime</td>
                            <td class="p-4 align-middle">Yes</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">HDR</td>
                            <td class="p-4 align-middle">No</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Dolby Atmos</td>
                            <td class="p-4 align-middle">No</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Ad-</td>
                            <td class="p-4 align-middle">No</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Offline Viewing</td>
                            <td class="p-4 align-middle">No</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="p-4 align-middle">Family Sharing</td>
                            <td class="p-4 align-middle">No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form asp-controller="Subscription" asp-action="AddSubscription" method="post">
    <div id="purchaseModal" class="modal">
        <div class="modal-content">
            <input hidden value="@Model.PlanType" name="PlanType" />
            <span class="close" onclick="closeModal">&times;</span>
            <h2>Confirm Purchase</h2>
            <p>Are you sure you want to purchase the @Model.PlanType (<strong>@Model.PlanPrice</strong>) plan?</p>
            <button type="submit" class="btn">Yes, Purchase</button>
        </div>
    </div>
</form>

<script>
    function openModal() {
        var modal = document.getElementById('purchaseModal');
        modal.style.display = 'block';
    }

    function closeModal() {
        var modal = document.getElementById('purchaseModal');
        modal.style.display = 'none';
    }
</script>

